<h1 id="wiki-header"></h1>
<div class="inline-flex gap-1">
    <div id="wiki-toc" class="flex-shrink border-2 border-gray-300">
        <h2>Table of Contents</h2>
    </div>
    <div id="wiki-content" class="flex-grow"></div>
    <div id="wiki-sidebar" class="flex flex-col gap-y-2 items-center w-[45em] flex-shrink bg-slate-700 border-2 border-gray-300">
        <h3 id="wiki-sidebar-title"></h3>
        <img id="wiki-sidebar-server-icon" class="w-[80%] h-min object-contain rounded-lg">
    </div>
</div>